{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p> This website is written using a mixture of python, html, css, and javascript. It is a recent project and is actively being updated. There are a couple of simple webapps hosted here. To see more of my projects, check my <a href="https://github.com/micah-l">github</a>.  </p>
        </div>
    </div>
</main>
{% endblock %}