{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p> I am a programmer and mathematician. I create mainly desktop programs, and began this website as a learning process and to make a few things available online. This website is written using a mixture of python, html, css, and javascript. Here you will find a few of my projects. It is actively being updated. </p>
        </div>
    </div>
</main>
{% endblock %}